<h1>My Cart</h1>
<div class="row">
  <ul>
  <% session[:cart].each do |p| %>
    <li><%= p['name'] %></li>
  <% end %>
  </ul>
  <%= link_to 'Checkout', default_checkout_path, class: 'btn btn-success' %>
</div>